
<suite name="Automation Test Suite">

    <test name="All Tests">
        <classes>
<!--            <class name="com.Testcases.LoginPageTest"/>-->
<!--            <class name="com.Testcases.LoginInvalidTest"/>-->
<!--            <class name="com.Testcases.ProductPageTest"/>-->
            <class name="com.Testcases.CheckoutTestPage"/>
            <class name="com.Testcases.CartPageTest"/>




        </classes>
    </test>

</suite>

<!--This all working fine-->